@import "tailwindcss";

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  html{
    background-color: #ECECEC;
    min-height: 100vh;
  }
  body{
    background-color: #ECECEC;
    min-height: 100vh;
  }
}

